body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #12dda0;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header img {
    width: 100px;
  }
  
  main {
    padding: 20px;
  }
  
  .welcome-section {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .start-section {
    text-align: center;
    margin-bottom: 25vh;
  }

  .about-section {
    text-align: center;
    margin-bottom: 25vh;
    word-spacing: 4px;
    line-height: 1.3;
  }
  
  button {
    background-color: #12dda0;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }

  button:hover {  
    background-color: #0bb783;
  }
  
  footer {
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .topnav {
    background-color: #333;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .topnav .icon {
    display: none;
  }

  .logo {
    height: 90px;
    width: 90px;
    display: flex center;
  }
  .logo1{
    margin: 10 auto;
    height: 90px;
    width: 90px;
    display: flex center;
  }
  .registro1{
    text-align: center;
  }
  .h1{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .post {
    background-color: #0bb783;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      padding: 10px;
      margin-bottom: 100vh; /* Espaçamento entre os posts */
      text-align: center; /* Centraliza o conteúdo do post */
      max-width: 450px; /* Largura máxima do post */
      margin: 10px auto; /* Centraliza o post na página */
  }

  .post h2 {
    font-size: 24px;
      margin-bottom: 10px;
      color: #333;
  }
  .post p {
    line-height: 1.6;
      color: #000000;
  }
  .post img{
    max-width: 100%;
      border-radius: 8px;
      margin-top: 10px;
      display: block; /* Garante que a imagem seja exibida como bloco para centralização */
      margin: 0 auto; /* Centraliza horizontalmente */
      object-fit: cover; /* Faz com que a imagem cubra todo o espaço do contêiner */
  }
  .floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #12dda0;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 80%;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000; /* Para garantir que o botão fique sobre outros elementos */
  }
  
  .floating-btn:hover {
    background-color: #0bb783;
  }
  .form-container {
    position: fixed;
    top: 50px;
    right: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none; /* Oculta o formulário inicialmente */
  }

  .form-container h2 {
    margin-top: 0;
    text-align: center;
  }

  .form-container label {
    display: block;
    margin: 10px 0 5px;
  }

  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-container button {
    background-color: #12dda0;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }

  .form-container button:hover {
    background-color: #0bb783;
  }
  .close-button {
    background: none;
    border: none;
    font-size: 16px; /* Menor tamanho da fonte */
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000; /* Cor do botão */
    padding: 2px 5px; /* Reduzir tamanho do botão */
    line-height: 1; /* Ajustar altura da linha */
    border-radius: 3px; /* Arredondar cantos */
  }
  
  .close-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Adicionar fundo ao passar o mouse */
  }